doctype html
html(ng-app='loginApp')
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		script(type='text/javascript', src='/js/jquery/jquery.min.js')
		script(type='text/javascript', src='/js/angular/angular.min.js')
		script(type='text/javascript', src='/js/angularroute/angular-route.min.js')
		script(type='text/javascript', src='/js/angularresource/angular-resource.min.js')
		script(type='text/javascript', src='/controllers/controller.js')
	body(ng-controller='MainCtrl')
		block bodycontent
